
#learn {
  margin-left: 35%;
}
/* Language: css */
.container {
  background-color:
  #8A2BE2;
  color: white;
  text-align: relative;
  padding: 100% -50%;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1000;
   }
.x{
  margin-left: 2%;
  top: 20%;
  position: absolute;
  
}
.foto {
  margin-top: 10px;
  width: 340px;
  height: 200px
}
p{margin-bottom: 0px;
}